body{
    margin:0px;
    padding:0px;
    background-color:rgba(0,0,0,.8);
    }
    h1{
    text-align:center;
    color:red;
    font-style: italic;
    font-family: 'Lucida Sans';
    }
    .container1{
        padding-top: 50px;
        margin-top: 30px;
        height:400px;
        
    }
    .container1 img{
    position: absolute;
    border:1px solid black;
    width:300px;
    height:auto;
    margin-left: 350px;

   
    
    
    }
    
    .container{
    width:700px;
    height:900px;
    padding:20px;
    border:3px solid red;
    line-height:0.5cm;
    background:url("/static/images/c4.jpg");
    background-repeat: repeat;
    
    }
    
    .container p{
color: antiquewhite;
    opacity:1;
    font-size: 30px;
    line-height:1.3cm;
    padding:28px;
    text-align: center;
    }
    .myfooter{
        padding:0px;
        margin-top:0px;
        background-color:coral;
        height:150px;
      }
      p{
        color: black;
        text-align: center;
        
      }
      .wrapper{
        display: inline-flex;
            padding-left: 100px;
            margin-left: 200px;
            background:crimson;
            width:600px;
            border-radius:20%;
        
        }
        .wrapper .icon{
            margin:0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            
        }
        .wrapper .icon span{
            height:60px;
            width:60px;
            display:block;
            
        }
        
        .wrapper span img{
            width:40px;
            height:40px;
            float: left;
            border-radius: 18px;
            margin-top: 2px;
            padding-top:2px;
        
        }
         .tooltip{
            background:yellowgreen;
            
            font-size: 18px;
          padding-top:2px;
            box-shadow: salmon;
            opacity:0;
            border: 1px slateblue;
            font-weight: bold;
            
        }
        .wrapper .icon:hover .tooltip{
            opacity:0.9;
            pointer-events: auto;
            color: red;
        }
        .wrapper .icon .tooltip:before{
            position: absolute;
            content:"";
          
            
            background:rgb(65, 57, 73);
            bottom:-8px;
            left:50%;
            transform:translateX(-50%) rotate(45deg);
        
        }
      
      
      